page-about-us {
  ion-item {
    background-color: darkgray;
  }

  ion-img {
    width: 80%;
    height: 60px;
  }
  .userlabel {
    font-size: 10px;
    color: white;
  }

  .headerlabel {
    font-size: 14px;
    font-style: inherit;
  }
}
