page-orders {
  // ion-content {
  //   background-color: #262B32 !important;
  // }
  .headerlabel {
    font-size: 12px;
    width: 100% !important;
  }
  .datalabel {
    font-size: 10px;
  }
  .home-page {
    ion-row[height-50] {
       height: 50%;
       position: relative;
    }
 }
  // .scroll-content {
  //   overflow-y: auto !important;
  // }
}
