<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="danger">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Orders
      </ion-title>

      <ion-label class="user-label" right>Login as:</ion-label>
      <ion-label class="user-label" right>{{this.loginuser}}</ion-label>

      <ion-buttons *ngIf="loginuser" end>
        <button ion-button icon-only (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content ion-padding-top>
  <ion-list>
    <ion-scroll  scrollX="true" style="white-space: nowrap; width: 100%; height: 300px;">
        <ion-item primary nowrap>
            <ion-label style="width:80px;">Order#</ion-label>
            <ion-label style="width:80px;">Date</ion-label>
            <ion-label style="width:80px;">Customer</ion-label>
            <ion-label style="width:80px;">Payment Status</ion-label>
            <!-- <ion-label>Total</ion-label>  -->
          </ion-item>

          <ion-item primary nowrap *ngFor="let order of this.filterorders">
              <ion-label>{{order.orderno}}</ion-label>
              <ion-label>{{order.date}}</ion-label>
              <ion-label>{{order.customer}}</ion-label>
              <ion-label>{{order.paymentstatus}}</ion-label>
              <!-- <ion-label>{{order.total}}</ion-label>  -->
          </ion-item>
    </ion-scroll>

  </ion-list>
</ion-content>
